body {
    font-family: Arial;
    background-color: darkseagreen;
}
h2 {
    font-size: 28px;
}
h1 {
    font-size: 36px;
}
span {
    color: gray;
}
img {
    width: 180px;
    height: 180px;
    border-radius: 100px;
}
header,
section {
    padding: 10px 60px 20px 60px;
    background-color: white;
    width: 960px;
    margin: auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul {
    list-style: none;
}
header li {
    margin-bottom: 15px;
}
.address-icon {
    width: 15px;
    height: 15px;
    background-color: darkseagreen;
    margin-right: 10px;
    padding: 8px;
    vertical-align: middle;
}
.circle {
    border-radius: 50%;
}


